composer
vendor
composer.phar

# IntelliJ - PhpStorm and PyCharm
.idea
*.ipr
*.iws

# Eclipse
/.project
/.settings
/.classpath

# Logs
logs
error.log
access.log

# Atom
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
debug.log
/tags
/atom-shell/
/out/
docs/output
docs/includes
spec/fixtures/evil-files/
out/
/electron/



# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac OSX
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

# Dart
packages
packages/*

# Vagrant
.vagrant
.vagrant/*

.env
